*.fq
*.gz
*.ipynb
*.log
*.out
*.pyc
*~
.*.swp
.coverage
.DS_Store
.idea/
.ipynb_checkpoints/
.terraform/
build/
densenet121/
gene/bwa.kit/*
gene/data/*
MANIFEST
ML_for_Hackers/
temp/*
think_stats/*.pdf
think_stats/book/thinkstats.pdf
think_stats/book/thinkstats2.pdf
think_stats/data/
think_stats/output/
*.dSYM/
