*.pyc
.*.swp
*.log
*~
build/
MANIFEST
.DS_Store
.coverage

think_stats/data/
think_stats/*.pdf
think_stats/output/
think_stats/.ipynb_checkpoints/

ML_for_Hackers/
*.gz
*.out


think_stats/book/thinkstats.pdf
think_stats/book/thinkstats2.pdf


gene/data/reference/GRCh38_full_analysis_set_plus_decoy_hla.fa
gene/gene/data/reference/GRCh38_full_analysis_set_plus_decoy_hla.fa
